@import "../../_main";
#nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-right: 7vw;
  .nav-item {
    font-size: 0.8em;
    font-weight: 600;
    margin-left: 2em;
    display: flex;
    align-items: center;
    .primary-btn {
      padding: 0.66em 2em;
      background: $primary-gradient;
      color: #444;
    }
    a {
      cursor: pointer;
      color: $light-text;
    }
  }
}
#navbar-container {
  display: flex;
  width: 100vw;
  background: #444;
  position: fixed;
  top: 0;
  max-height: 8vh;
  align-items: center;
  justify-content: space-between;
  #logo {
    font-size: 1.66em;
    margin-left: 7vw;
    color: #888;
    span {
      color: orange;
    }
  }
  // #navbar-search-form {
  //   display: none;
  // }
  #navbar-search-form {
    display: none;
    @include tablet {
      display: flex;
    }
    @include desktop {
      display: flex;
    }

    #navbar-search-input {
      margin: 0 auto;
      color: #fefefe;
      background: #666;
      padding: 0.33em 0.66em;
      min-width: 100%;
      width: 100%;
      outline: none;
      border: none;
      font-family: raleway;
      border-radius: 0.33em 0em 0em 0.33em;
      &::placeholder {
        color: #999;
      }
    }
    #navbar-search-form-label {
      display: flex;
      flex-direction: row;
    }
    #navbar-search-form-btn {
      cursor: pointer;
      color: #999;
      background: #666;
      border: transparent;
      border-radius: 0em 0.33em 0.33em 0em;
      border-left: solid 2px #444;
    }
  }
}
